.navbar{
    position: fixed;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 90px;
    line-height: 90px;
    background: var(--body-color);
    padding-inline: 9vw;
    transition: .3s;
    z-index: 100;
}

.nav_logo{
    position: relative;
}

.nav-name{
    font-size: 40px;
    font-weight: 600;
    color: var(--text-color-third);
}

.desktopMenu, .desktopMenuListItem{
   margin: 1rem;
   cursor: pointer;
   font-size: larger;
}

.desktopMenuListItem:hover{
    color: var(--text-color-third);
    padding: 0.5rem;
    border-bottom: 8px solid turquoise;
}

