.featured-box{
    position: relative;
    height: 100vh;
    min-height: 700px;
    display: flex;
  }
  
  .featured-text{
    position: relative;
    display: flex;
    justify-content: center;
    align-content: center;
    min-height: 80vh;
    flex-direction: column;
    width: 50%;
    padding-left: 20px;
  }

  .hello{
    font-size: xxx-large;
    font-weight: 500;
    background-color: var(--first-color);
  }
  .introtext{
    font-size: 50px;
    font-weight: 500;
    color: var(--text-color-second);
    margin-block: 20px;
    text-transform: capitalize;
  }
  .intropara{
    font-size: x-large;
    margin-bottom: 25px;
    color: var(--text-color-second);
  }

  .bg{
   margin-top: 120px;
   display: flex;
   align-content: center;
   position: relative;
   min-height: 70vh;
   width: 40%;
   border-radius: 55% 45% 55% 45%;
   overflow: hidden;
   object-fit: cover; 
  }

