.wrapper{
    padding-inline: 10vw;
  }

.featured-box{
    position: relative;
    height: 100vh;
    min-height: 700px;
    display: flex;
  }
  
  .featured-text{
    position: relative;
    display: flex;
    justify-content: center;
    align-content: center;
    min-height: 80vh;
    flex-direction: column;
    width: 50%;
    padding-left: 20px;
  }

  .hello{
    padding: 3px 10px;
    font-size: xx-large;
    font-weight: 500;
    border-radius: 10px;
    background-color: var(--first-color);
    
  }
  .introtext{
    font-size: 50px;
    font-weight: 500;
    color: var(--text-color-second);
    margin-block: 20px;
    text-transform: capitalize;
  }
  .intropara{
    font-size: x-large;
    margin-bottom: 25px;
    color: var(--text-color-second);
  }