.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    row-gap: 30px;
    background: #F8F8F8;
    padding-block: 40px 60px;
  }
  .top-footer p{
    font-size: 25px;
    font-weight: 600;
  }

  .footer-social-icons{
    display: flex;
    gap: 30px;   
  }
  .icon{
    width: 1.7rem;
    height: 1.7rem;
  }
  .bottom-footer{
      font-size: 14px;
      margin-top: 10px;
  }